<!DOCTYPE html>
<html>
<head>
  <title>API In The Sky - About</title>
</head>

<body>
  <% include global/header %>
  <br>
  <div id="rules">
    <h2>About Paper, Rock, Scissors: Showdown</h2>
    This app is meant to...
    <br>
    <br>

    <h2>Image Credits: </h2>
    <ul>
    <li> </li>
    <li> </li>
    </ul>
  </div>
</body>

</html>
